/** Accueil **/
#Ent_div {
	width: 5px;
	height: 5px;
	margin-top: 10%;
}
#divacc {
	margin-bottom: 11%;
}
/** Index **/
#Bt-accI{
	margin-right: 2%;
	margin-bottom: 12px;
}
#Ind_ptitimg {
	width: 38px;
	height: 36px;
	margin-right: 2%;
}
.footerAccueil{
	margin-top: 10%;
}

/** Entreprise **/
#divEntre {
	margin-top: 1%; 
}
#atooz {
	background-color: #CBD3D3;
	text-align: center;
	float: left;
	width: 48.5%;
	height: 50px;
	margin-right: 1%;
	margin-left: 1%;
	padding: 1%;
	cursor: pointer;	
}

#todomaine {
	background-color: #CBD3C3;
	text-align: center;
	float: right;
	width: 48.5%;
	height: 50px;
	margin-right: 1%;
	padding: 1%;
	cursor: pointer;
}

.Enttitle {
	font-size: 20px;
	font-family: "Adobe Caslon Pro", Times, serif;
	text-shadow:0 0 3px #F8F8FF;
}

.entborder {
	border-color: red;
}

/** AaZ **/
#hCategordiv{
	
}
#h2AtooZ {
	font-size: 20px;
	font-family: "Times New Roman", Times, serif;
	text-shadow:0 0 1px #F8F8FC;
}
#h2AtooZdiv{
	float: left;
	margin-left: 12%;
	margin-top: 0.5%;
	padding: 0.2%;
}


.DDDomain {
	display: inline-block;
	float: right;
	margin-right: 1%;
	margin-top: 0.2%;
}

/** Page International **/
#PInterna {
	margin-top: 1.5%;
	margin-right: 2%;
	margin-left: 2%;
	width: 25px;
	height: 25px;
}

/** Zone Admin **/
#ZAdColorh1{
	font-family: "Adobe Caslon Pro", Times, serif;
	background-color: #D4DCFF;
}
#ZAddecal{
	margin-left: 30%;
}

/** PAge des partenaires **/
#PatColorh1{
	font-family: "Adobe Caslon Pro", Times, serif;
	color: black;
	font-size: 31px;
	text-align: center;
}