/** Accueil **/
#Ent_div {
	width: 5px;
	height: 5px;
	margin-top: 10%;
}
#divacc {
	margin-bottom: 11%;
}
/** Index **/
#Bt-accI{
	margin-right: 2%;
	margin-bottom: 12px;
}
#Ind_ptitimg {
	width: 38px;
	height: 36px;
	margin-right: 2%;
}
.footerAccueil{
	margin-top: 10%;
}

/** Entreprise **/
#divEntreA {
	margin-top: 1%; 
}
#divEntreD {
	margin-top: 1%; 
}
#atooz {
	background-color: #CBD3D3;
	text-align: center;
	float: left;
	width: 48.5%;
	height: 50px;
	margin-right: 1%;
	margin-left: 1%;
	padding: 1%;
	cursor: pointer;
	color : black;
}

#todomaine {
	background-color: #CBD3C3;
	text-align: center;
	float: right;
	width: 48.5%;
	height: 50px;
	margin-right: 1%;
	padding: 1%;
	cursor: pointer;
	color : black;
}

.Enttitle {
	font-size: 25px;
	font-family: "Angsana New", Times, serif;
	text-shadow:0 0 3px #F8F8FF;
}

.entborder {
	border-color: red;
}

/** AaZ **/
#h2AtooZ {
	margin-right: 5%;
	font-size: 21px;
	font-family: "Adobe Caslon Pro", Times, serif;
}
#h2AtooZdiv{
	float: left;
	margin-left: 12%;
	margin-top: 2%;
	padding: 0.2%;
}
#h2Domaindiv{
	float: right;
	margin: 2%;
	padding: 0.2%;
}