/** Accueil **/
#Ent_div {
	width: 5px;
	height: 5px;
	margin-top: 10%;
}
#divacc {
	margin-bottom: 10%;
}
/** Index **/
#Ind_ptitimg {
	width: 30px;
	height: 30px;
}
.footerAccueil{
	margin-top: 3%;
}

/** Entreprise **/
#divEntre {
	margin-top: 1%; 
}
#atooz {
	background-color: #CBD3D3;
	text-align: center;
	float: left;
	width: 48.5%;
	height: 50px;
	margin-right: 1%;
	margin-left: 1%;
	padding: 1%;
	cursor: pointer;	
}

#todomaine {
	background-color: #CBD3C3;
	text-align: center;
	float: right;
	width: 48.5%;
	height: 50px;
	margin-right: 1%;
	padding: 1%;
	cursor: pointer;
}

.Enttitle {
	font-size: 20px;
	font-family: "Adobe Caslon Pro", Times, serif;
	text-shadow:0 0 3px #F8F8FF;
}

.entborder {
	border-color: red;
}